@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap'); 

.font{
    font-family: 'Bree Serif', serif;
}

.couleur-nav{
    background-color: rgba(166, 72, 38, 92);
}

.pre-footer{
    background-color: #F6B067;
    padding: 150px;
}

footer{
    background-color: rgba(166, 72, 38, 92)
}