@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.font{
    font-family: 'Bree Serif', serif;
}

.couleur-nav{
    background-color: rgba(166, 72, 38, 92);
}

.pre-footer{
    background-color: #F6B067;
    padding: 100px;
}

.footer{
    background-color: rgba(166, 72, 38, 92);
    padding: 20px;
    
}

a.btn-footer{
    text-decoration: none;
    color: white;
}

a.btn-footer:hover{
    background-color: maroon;
    padding: 19px;
}

img{
    max-width: 100%;
}

.text{
    font-family: 'Lato', sans-serif;
    font-size: large;
}

.horaire{
    width: 100%;
}

p{
    font-family: 'Lato', sans-serif;
}

.zoom{
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}